@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
        <a class="btn btn-info btn-sm d-inline text-dark float-right" asp-action="Add"><i class="fas fa-plus"></i> Add User</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                <thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>UserName</th>
						<th>Email</th>
						<th>Roles</th>
						<th>Actions</th>
					</tr>
                </thead>
                <tfoot>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>UserName</th>
						<th>Email</th>
						<th>Roles</th>
						<th>Actions</th>
					</tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
					{
					<tr>
						<td>@item.Firstname </td>
						<td>@item.Lastname </td>
						<td>@item.UserName </td>
						<td>@item.Email</td>
						<td>
							@string.Join(", ", item.UsersRoles.Select(x => x.Role))
						</td>
						<td>
							<a class="btn btn-amber btn-rounded btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
							<a class="btn btn-light-blue btn-rounded btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
							@if (item.Status == "A")
							{
								<a class="btn btn-red btn-rounded btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							}
							else
							{
								<a class="btn btn-pink btn-rounded btn-sm" asp-action="Restore" asp-route-id="@item.Id">Restore</a>
							}
						</td>

					</tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Css{ 
    <link href="~/css/datatable.css" />
}

@section Scripts{
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>
}